@import "tailwindcss";

@theme {
	--font-display: "Rubik Variable", sans-serif;
	--color-gray-100: #fcfcfc;
	--color-gray-200: #f6f6f6;
	--color-gray-500: #848d98;
	--color-gray-700: #3d4751;
	--color-gray-900: #363d46;

	--color-yellow-500: #ecb02e;

	--color-pastelblue-500: #8db8c9;
}

.header__cell {
	min-height: 5.25rem;
}
